



<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="XIV LO im. Stanisława Staszica w Warszawie">
    <meta name="author" content="Webmasterzy XIV LO">


    <link rel="icon" href="/static/xivlo/img/favicon.png" type="image/png">
    <link rel="alternate" type="application/rss+xml" href="/rss/">
    <link href="/static/xivlo/img/favicon.png" rel="apple-touch-icon" type="image/png">
    <title>XIV LO im. Stanisława Staszica w Warszawie</title>

    <link href="/static/xivlo/bootstrap/4.4.1/css/flatly.min.css" rel="stylesheet"/>
    <link href="/static/xivlo/lightbox/css/lightbox.min.css" rel="stylesheet"/>
    <link href="/static/xivlo/fontawesome/5.3.1/css/solid.min.css" rel="stylesheet">
    <link href="/static/xivlo/fontawesome/5.3.1/css/fontawesome.min.css" rel="stylesheet">

    <link href="/static/xivlo/css/xivlo.min.css" rel="stylesheet"/>

    <script src="/static/js/index.js" defer></script>

    <meta name="theme-color" content="#2c3e50" />


    <meta property="og:title" content="Aktualności" />
    <meta property="og:description" content="Najnowsze informacje z XIV LO im. Stanisława Staszica w Warszawie" />

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-primary" role="navigation">
    <div class="container">





        <a class="navbar-brand" href="/" aria-label="Strona główna"><span class="fas fa-home"></span></a>

        <button type="button" class="  navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Szkoła <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">

                        <a class="dropdown-item text-light" href="/szkola">Informacje</a>




                        <a class="dropdown-item text-light"  href="/szkola/kontakt">Kontakt</a>







                        <a class="dropdown-item text-light"  href="/szkola/patron">Patron</a>







                        <a class="dropdown-item text-light"  href="/szkola/historia">Historia</a>







                        <a class="dropdown-item text-light"  href="/szkola/sztandar">Sztandar</a>







                        <a class="dropdown-item text-light"  href="/szkola/rankingi">Rankingi</a>







                        <a class="dropdown-item text-light"  href="/galerie">Galerie</a>







                        <a class="dropdown-item text-light"  href="/news/category/30">Kronika</a>







                        <a class="dropdown-item text-light"  href="/szkola/kadra">Kadra</a>







                        <a class="dropdown-item text-light"  href="/szkola/rada">Rada Rodziców</a>







                        <a class="dropdown-item text-light"  href="/szkola/dokumenty">Dokumenty</a>







                        <a class="dropdown-item text-light"  href="/rodo">RODO</a>







                        <a class="dropdown-item text-light"  href="/szkola/podreczniki">Podręczniki</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Psychozdrowie <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">




                        <a class="dropdown-item text-light"  href="/psychozdrowie/uczniowie">Uczniowie</a>







                        <a class="dropdown-item text-light"  href="/psychozdrowie/rodzice">Rodzice</a>







                        <a class="dropdown-item text-light"  href="/psychozdrowie/nauczyciele">Nauczyciele</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Absolwenci <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">

                        <a class="dropdown-item text-light" href="/absolwenci">Informacje</a>




                        <a class="dropdown-item text-light"  href="/absolwenci/stowarzyszenie">Stowarzyszenie</a>







                        <a class="dropdown-item text-light"  href="/absolwenci/historia">Historia</a>







                        <a class="dropdown-item text-light"  href="/absolwenci/iii_wielki_bal">Obchody 110. rocznicy założenia szkoły</a>







                        <a class="dropdown-item text-light"  href="/absolwenci/nagroda">Nagroda im. Jana Zydlera</a>







                        <a class="dropdown-item text-light"  href="/absolwenci/zarzad">Zarząd</a>







                        <a class="dropdown-item text-light"  href="/Linki">Linki</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Uczniowie <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">




                        <a class="dropdown-item text-light"  href="/uczniowie/sukcesy">Sukcesy</a>







                        <a class="dropdown-item text-light"  href="/uczniowie/samorzad">Samorząd</a>







                        <a class="dropdown-item text-light"  href="/kurier">Staszic Kurier</a>







                        <a class="dropdown-item text-light"  href="/szkola/stypendia">Stypendia</a>







                        <a class="dropdown-item text-light"  href="/uczniowie/plan">Plany lekcji</a>







                        <a class="dropdown-item text-light"  href="/uczniowie/dzwonki">Dzwonki</a>







                        <a class="dropdown-item text-light"  href="/doradztwo">Doradztwo zawodowe</a>







                        <a class="dropdown-item text-light"  href="/stolowka">Stołówka</a>







                        <a class="dropdown-item text-light"  href="https://fwn.staszic.waw.pl">Fizyka Wokół Nas</a>







                        <a class="dropdown-item text-light"  href="/uczniowie/pomoc">Pomoc Koleżeńska</a>







                        <a class="dropdown-item text-light"  href="/uczniowie/ubezpieczenia">Ubezpieczenia</a>







                        <a class="dropdown-item text-light"  href="https://www.gov.pl/web/edukacja-i-nauka/terminy-olimpiad-w-roku-szkolnym-20222023">Terminy olimpiad</a>







                        <a class="dropdown-item text-light"  href="/uczniowie/warsztaty">Warsztaty matematyczne</a>







                        <a class="dropdown-item text-light"  href="/szkola/podreczniki">Podręczniki</a>







                        <a class="dropdown-item text-light"  href="/uczniowie/mps">Projekty stypendystów</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Internat <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">




                        <a class="dropdown-item text-light"  href="/internat/informacje">Informacje</a>







                        <a class="dropdown-item text-light"  href="/internat/zalaczniki">Załączniki do regulaminu</a>







                        <a class="dropdown-item text-light"  href="/internat/rekrutacja2022">Rekrutacja 2022/2023</a>







                        <a class="dropdown-item text-light"  href="/internat/procedury_bezpiecze%C5%84stwa">Procedury bezpieczeństwa</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Koła <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">




                        <a class="dropdown-item text-light"  href="/kola">Lista zajęć pozalekcyjnych</a>







                        <a class="dropdown-item text-light" target=&quot;_BLANK&quot; href="https://sio2.staszic.waw.pl">Informatyczne</a>







                        <a class="dropdown-item text-light"  href="/kola/matematyczne">Matematyczne</a>







                        <a class="dropdown-item text-light"  href="https://astronomia.staszic.waw.pl/">Astronomiczne</a>







                        <a class="dropdown-item text-light"  href="/caritas">Caritas</a>







                        <a class="dropdown-item text-light" target=&quot;_BLANK&quot; href="http://tmfwarszawa.pl/">TMF</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Fundacja <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">

                        <a class="dropdown-item text-light" href="/fundacja">Informacje</a>




                        <a class="dropdown-item text-light"  href="/fundacja/fundusz">Fundusz Stypendialny</a>







                        <a class="dropdown-item text-light"  href="/fundacja/stypendia">Stypendia</a>







                        <a class="dropdown-item text-light"  href="/fundacja/raporty_finansowe">Raporty finansowe</a>







                        <a class="dropdown-item text-light"  href="/fundacja/raporty_merytoryczne">Raporty merytoryczne</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Kandydaci <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">

                        <a class="dropdown-item text-light" href="/kandydaci">Informacje</a>




                        <a class="dropdown-item text-light"  href="/kandydaci/matex">Zadania do Matexu</a>







                        <a class="dropdown-item text-light"  href="/kandydaci/pytania">Pytania</a>







                        <a class="dropdown-item text-light"  href="/kandydaci/zasady">Regulamin rekrutacji</a>







                        <a class="dropdown-item text-light"  href="/kandydaci/plan_nauczania">Plan nauczania</a>







                        <a class="dropdown-item text-light"  href="/kandydaci/harmonogram">Harmonogram</a>







                        <a class="dropdown-item text-light"  href="https://youtu.be/X5lOa1oKtB8">Film - Koło Informatyczne</a>







                        <a class="dropdown-item text-light"  href="/media/files/Ulotka_XIV_LO-1.pdf">Ulotka</a>







                        <a class="dropdown-item text-light"  href="/kandydaci/spacer">Wirtualny spacer po szkole</a>







                        <a class="dropdown-item text-light"  href="/kandydaci/kolko">Kółko dla kandydatów</a>







                        <a class="dropdown-item text-light"  href="/kandydaci/pliki">Pliki do pobrania</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Konkursy <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">




                        <a class="dropdown-item text-light"  href="/konkursy/stas">St@ś</a>







                        <a class="dropdown-item text-light"  href="/konkursy/festiwal_poezji">Festiwal Poezji</a>







                        <a class="dropdown-item text-light" target=&quot;_BLANK&quot; href="https://festiwalchorow.staszic.waw.pl/">Festiwal Chórów Licealnych</a>







                        <a class="dropdown-item text-light"  href="/konkursy/wldsp">WLDsp</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Sieć <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">

                        <a class="dropdown-item text-light" href="/siec">Informacje</a>




                        <a class="dropdown-item text-light"  href="/siec/konta">Konta</a>







                        <a class="dropdown-item text-light"  href="/siec/poczta">Konto pocztowe</a>







                        <a class="dropdown-item text-light"  href="/siec/www">Pomoc WWW</a>







                        <a class="dropdown-item text-light"  href="/siec/ssh">Pomoc SSH</a>







                        <a class="dropdown-item text-light"  href="/siec/ekipa">Ekipa</a>







                        <a class="dropdown-item text-light"  href="/siec/faq">FAQ</a>







                        <a class="dropdown-item text-light"  href="/siec/cookies">Cookies</a>







                        <a class="dropdown-item text-light"  href="/szkola/deklaracja_dostepnosci">Deklaracja Dostępności</a>



                    </div>


                </li>

                <li class="nav-item dropdown">


                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Covid-19 <span class="caret"></span></a>



                    <div class="dropdown-menu bg-primary" role="menu">




                        <a class="dropdown-item text-light"  href="/media/files/procedury_od_4.04_.pdf">Procedury - nauczanie stacjonarne (od 4.04.2022r.)</a>







                        <a class="dropdown-item text-light"  href="/szczepienia">Szczepienia</a>



                    </div>


                </li>

            </ul>
        </div>




    </div>
</nav>
<header class="header">
    <div class="al-center container header-container">
        <img class="godlo" src="/static/xivlo/img/godlo.png" alt="godło">
        <div class="site-title">
            <h1>STASZIC</h1>
            <h2>XIV Liceum Ogólnokształcące</h2>
        </div>
        <div class="info-row d-none d-sm-flex flex-wrap">
            <div class="info col-12 col-sm-4 col-md-4">
                <div class="info-icon">
                    <span class="fas fa-home"></span>
                </div>
                <div class="info-text">
                    <p>
                        Grójecka 216<br>
                        02-390 Warszawa
                    </p>
                </div>
            </div>
            <div class="info col-12 col-sm-4 col-md-4">
                <div class="info-icon">
                    <span class="fas fa-phone"></span>
                </div>
                <div class="info-text">
                    <p>
                        <a href="tel:225363636">(22) 536-36-36</a><br>
                    </p>
                </div>
            </div>
            <div class="info col-12 col-sm-4 col-md-4">
                <div class="info-icon">
                    <span class="fas fa-envelope"></span>
                </div>
                <div class="info-text">
                    <p>
                        <a href="mailto:staszic.lo14@eduwarszawa.pl">staszic.lo14@eduwarszawa.pl</a><br>
                        <a href="mailto:szkola@staszicwaw.pl">szkola@staszicwaw.pl</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="spacer"></div>
    <div id="content" class="row">
        <div class="page-header">
            <h1>
                Aktualności <a class="rss fas fa-rss-square" href="/rss/" aria-label="Kanał RSS"></a>
            </h1>
        </div>
    </div>
    <div class="row">
        <main class="col-md-8 col-12">



            <div class="category-nav">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="nav-link" href="/">Wszystko</a>
                    <a class="nav-link" href="/news/category/11/">Informacje</a>
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Kronika</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/news/category/30/">Wszystko</a>
                        <a class="dropdown-item" href="/news/category/31/">Sport</a>
                        <a class="dropdown-item" href="/news/category/32/">Kultura</a>
                        <a class="dropdown-item" href="/news/category/33/">Konkursy</a>
                        <a class="dropdown-item" href="/news/category/34/">Zabawa</a>
                        <a class="dropdown-item" href="/news/category/35/">Ogólne</a>
                        <a class="dropdown-item" href="/news/category/36/">Techniczne</a>
                    </div>
                    <a class="nav-link" href="/news/category/41/">Internat</a>
                    <a class="nav-link active§" href="/chan">Staś-chan</a>
                </nav>
            </div>

            <article>
                <div class="d-flex d-flex justify-content-between article-footer">
                    <div class="article-date">
                        <span class="fas fa-info-circle" title="przypięte"></span>
                        <%= post.date %>
                    </div>
                    <div class="article-author"><%= post.author %></div>
                </div>
                <header class="article-header">
                    <h3><%= post.title %></h3>
                </header>
                <div class="article-body">
                    <p><%= post.content %></p>
                </div>
            </article>
        </main>

        <div class="col-md-4 col-12">


            <div class="card bg-secondary">
                <div class="list-group">
                    <a href="/archive" class="list-group-item">Archiwum aktualności</a>
                </div>
            </div>




            <br>
            <form action="/search" method="GET">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Wpisz aby wyszukać" aria-label="Wyszukiwanie treści na stronie">
                    <span class="input-group-append">
				<button type="submit" class="btn btn-primary" aria-label="Wyszukaj">
					<span class="fas fa-search"></span>
				</button>
			</span>
                </div>
            </form>

            <br>
            <div class="list-group">
                <a class="list-group-item list-group-item-info" href="#uczniowie_block" data-toggle="collapse">Uczniowie</a>
                <div id="uczniowie_block" class="list-group collapse ">

                    <a class="list-group-item" href="/uczniowie/plan" >Plan lekcji</a>

                    <a class="list-group-item" href="/stolowka" >Stołówka</a>

                </div>
            </div>

            <br>
            <div class="list-group">
                <a class="list-group-item list-group-item-danger" href="#dokumenty_block" data-toggle="collapse">Dokumenty</a>
                <div id="dokumenty_block" class="list-group collapse show">

                    <a class="list-group-item" href="/media/files/Kalendarz_roku_szkolnego_2022-2023.pdf" >Kalendarz roku szkolnego</a>

                    <a class="list-group-item" href="/godzinydostepnosci" >Godziny dostępności nauczycieli</a>

                    <a class="list-group-item" href="/szkola/dokumenty" >Do pobrania</a>

                    <a class="list-group-item" href="/rodo" >RODO</a>

                </div>
            </div>

            <br>
            <div class="list-group">
                <a class="list-group-item list-group-item-warning" href="#przejdźdo_block" data-toggle="collapse">Przejdź do</a>
                <div id="przejdźdo_block" class="list-group collapse show">

                    <a class="list-group-item" href="https://synergia.librus.pl/" >Dziennik</a>

                    <a class="list-group-item" href="https://mail.staszic.waw.pl" >Poczta</a>

                    <a class="list-group-item" href="https://bip.staszic.waw.pl" >BIP</a>

                    <a class="list-group-item" href="https://www.facebook.com/samorzad.staszic/" target="_blank" rel="noopener noreferrer">Strona samorządu na Facebooku</a>

                </div>
            </div>

            <br>
            <div class="list-group">
                <a class="list-group-item list-group-item-secondary" href="#zobacztakże_block" data-toggle="collapse">Zobacz także</a>
                <div id="zobacztakże_block" class="list-group collapse ">

                    <a class="list-group-item" href="https://www.mazowieckie.pl" target="_blank" rel="noopener noreferrer">Region Mazowsze</a>

                    <a class="list-group-item" href="https://www.men.gov.pl" target="_blank" rel="noopener noreferrer">Ministerstwo Edukacji Narodowej</a>

                    <a class="list-group-item" href="http://www.urzadochota.waw.pl" target="_blank" rel="noopener noreferrer">Urząd Dzielnicy Ochota</a>

                    <a class="list-group-item" href="https://www.kuratorium.waw.pl/" target="_blank" rel="noopener noreferrer">Mazowieckie Kuratorium Oświaty</a>

                    <a class="list-group-item" href="https://www.um.warszawa.pl" target="_blank" rel="noopener noreferrer">Urząd m. st. Warszawy</a>

                    <a class="list-group-item" href="https://www.szkolenia-bhp24.pl/pierwsza-pomoc-online" target="_blank" rel="noopener noreferrer">Pierwsza pomoc online</a>

                    <a class="list-group-item" href="/szkola/deklaracja_dostepnosci" target="_blank" rel="noopener noreferrer">Deklaracja dostępności</a>

                </div>
            </div>

            <br>




        </div>
    </div>
</div>
<footer class="footer al-center bg-primary">
    <p class="text-light">&copy; 2014-2023 XIV LO im. S. Staszica | Opracowanie: webmasterzy XIV LO &lt;<a href="mailto:webmaster@staszicwaw.pl">webmaster@staszicwaw.pl</a>&gt; | Projekt i wykonanie: Mikołaj Walczak | CMS: Mikołaj Walczak</p>
</footer>

<script src="/static/xivlo/js/jquery-3.3.1.min.js"></script>
<script src="/static/xivlo/js/popper-1.14.5.min.js"></script>
<script src="/static/xivlo/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script async src="/static/xivlo/lightbox/js/lightbox.min.js"></script>



</body>
</html>
